.row {
    flex-wrap: nowrap;
}

.row .col {
    width: fit-content;
    padding: 0 2px;
}

.userInfo .icons button {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: var(--darkColor);
    border-color: var(--borderColor);
    transition: 0.6s;
}

.userInfo .icons button:last-of-type {
    background-color: var(--darkColor);
    color: #fff;
    transition: 0.6s;
}

.userInfo .icons button:last-of-type:hover {
    background-color: #fff;
    color: var(--darkColor);
    transition: 0.6s;
}

.userInfo .icons button:hover {
    background-color: var(--darkColor);
    color: #fff;
    transition: 0.6s;
}

.userInfo .img {
    width: 750px;
}

.userInfo .img label {
    position: absolute;
    bottom: 10px;
    left: 16%;
    background: var(--borderColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.6s;
}

.userInfo .img label:hover {
    background: #fff;
    color: var(--darkColor);
    transition: 0.6s;
}

.userInfo .img img {
    width: 145px;
    height: 140px;
    border: 1px solid var(--darkColor);
}

.userInfo .img .save {
    position: absolute;
    left: 25%;
    bottom: 0;
    background-color: var(--darkColor);
    border: none;
}

.userInfo .name .statuss {
    border: 1px solid var(--darkColor);
    font-size: 12px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.userInfo .details label {
    width: 8%;
    font-size: 16px;
    font-weight: 500;
}

.userInfo .details input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.userInfo .details .icon {
    background: #e9ecef;
    padding: 10px 5px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.6s;
}

.userInfo .details .icon:hover {
    background: #dee2e6;
    border-color: #ced4da;
    transition: 0.6s;
}

.userInfo .details .update {
    width: fit-content;
    background: #4CAF50;
    color: #fff;
    border-color: #4CAF50;
    transition: 0.6s;
}

.userInfo .details .update:hover {
    background: #45a049;
    transition: 0.6s;
}

/******************************************/


.orders .order {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid;
    width: fit-content;
    padding: 15px;
    border-radius: 12px;
    background: var(--darkColor);
    color: white;
    transition: 0.9s;
}

.orders .order:hover {
    background: var(--mainColor);
    transition: 0.9s;
}

.orders .order:hover span {
    background: var(--darkColor);
    transition: 0.9s;
}

.orders .order span {
    display: flex;
    align-items: center;
    background: var(--mainColor);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 17px;
    transition: 0.9s;
}

.orders .order .button button {
    background-color: var(--darkColor);
}

/*********************************/

.displayOrder p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    background: var(--mainColor);
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
}