/* Start Product whit categories */
.displayProducts .card {
    position: relative;
}

.displayProducts .card .discount {
    position: absolute;
    top: 3%;
    left: 0;
    background: var(--darkColor);
    color: var(--secColor);
    padding: 5px;
    border-radius: 0px 50px 50px 0px;
    font-weight: 700;
}

.displayProducts .card .img {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid;
}

.displayProducts .card .img .addCart {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--darkColor);
    color: var(--headerColor);
    border: 2px solid var(--secColor) !important;
    padding: 20px;
    position: absolute;
    bottom: -50%;
    right: -5%;
    transform: translateX(-50%);
    transition: all 0.4s ease-out 0s;
    cursor: pointer;
}

.displayProducts .card .img .addCart span {
    font-size: 18px;
    text-transform: capitalize;
}

.displayProducts .card .img:hover .addCart {
    bottom: -22%;
    transform: translateX(-50%);
    transition: all 0.4s ease-out 0s;
}

.displayProducts .card .img .wishlist {
    position: absolute;
    top: 5%;
    right: -50%;
    cursor: pointer;
}

.displayProducts .card .img .wishlist i {
    border: 1px solid var(--headerColor);
    border-radius: 50%;
    padding: 10px;
    background-color: var(--darkColor);
    color: var(--headerColor);
}

.displayProducts .card .img:hover .wishlist {
    top: 5%;
    right: 3%;
    transition: all 0.4s ease-out 0s;
}

.displayProducts .card_body {
    background-color: #FFFAF3;
    gap: 30%;
}

.displayProducts .card_body .text .star {
    font-size: 12px;
    color: var(--mainColor);
}

.displayProducts .card_body .text p {
    font-size: 14px;
}

.displayProducts .card_body .text .name {
    color: var(--darkColor);
}

.displayProducts .card_body .text .name:hover {
    color: var(--mainColor);
}

.displayProducts .card_body .price .price_aftDiscount {
    color: var(--darkColor);
}


.displayProducts .nav {
    border: 1px solid #AEB0B6;
    border-radius: 50px;
    padding: 5px;
    background-color: #fff;
}

.displayProducts .nav button {
    border-radius: 50px;
    color: var(--darkColor);
    background-color: #fff;
    border: none;
}

.displayProducts .nav button.active {
    background: var(--darkColor);
    color: white;
}

/* responsive */
@media screen and (max-width: 1400px) {
    .displayProducts .card .img .addCart {
        width: 165px;
        height: 165px;
    }
}

@media screen and (max-width: 1300px) {
    .displayProducts .card .img .addCart {
        width: 150px;
        height: 150px;
    }

    .displayProducts .card .img:hover .addCart {
        bottom: -20%;
    }
}

@media screen and (max-width: 1200px) {
    .displayProducts .card .img .addCart {
        width: 135px;
        height: 135px;
    }

    .displayProducts .card .img .addCart span {
        font-size: 15px;
    }

    .displayProducts .card .img:hover .addCart {
        bottom: -19%;
    }
}

@media screen and (max-width: 1100px) {
    .displayProducts .card .img .addCart {
        width: 120px;
        height: 120px;
    }

    .displayProducts .card .img .addCart span {
        font-size: 13px;
    }
}

@media screen and (max-width: 1000px) {
    .displayProducts .card .img .addCart {
        width: 110px;
        height: 110px;
        right: 8%;
    }

    .displayProducts .card .img .addCart span {
        font-size: 11px;
    }

    .displayProducts .card .img:hover .addCart {
        bottom: -12%
    }
}

@media screen and (max-width: 900px) {
    .displayProducts .card .img .addCart {
        width: 105px;
        height: 105px;
        right: 6%;
    }

    .displayProducts .card .img .addCart span {
        font-size: 11px;
    }

    .displayProducts .card .img:hover .addCart {
        bottom: -12%
    }
}

@media screen and (max-width: 800px) {
    .displayProducts .card .img .addCart {
        width: 100px;
        height: 100px;
        right: 6%;
    }

    .displayProducts .card .img .addCart span {
        font-size: 10px;
    }

    .displayProducts .card .img:hover .addCart {
        bottom: -12%
    }
}

@media screen and (max-width: 767px) {
    .displayProducts .name {
        font-size: 13px !important;
    }

    .displayProducts .card {
        width: 18rem !important;
    }

    .displayProducts .card_body {
        display: block !important;
        ;
    }

    .displayProducts .main {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .displayProducts .nav {
        width: fit-content;
    }

    .displayProducts .card .img .addCart {
        width: 150px;
        height: 150px;
        right: -6%;
    }
    .displayProducts .card .img .addCart span {
        font-size: 18px;
    }
    .displayProducts .card .img:hover .addCart {
        bottom: -21%
    }
}

@media screen and (max-width: 576px) {
    .displayProducts .card .img .addCart {
        width: 140px;
        height: 140px;
        right: 0%;
    }

    .displayProducts .card .img:hover .addCart {
        bottom: -16%
    }
}

@media screen and (max-width: 500px) {
    .displayProducts {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

/* End Product whit categories */