:root {
    --mainColor: #CC0D39;
    --secColor: #F7941F;
    --secLightColor: #FEEB9D;
    --headerColor: #FFFAF3;
    --darkColor: #13172B;
    --borderColor: #AEB0B6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--headerColor);
}

.main-color {
    color: var(--mainColor);
}

.text-color {
    color: #5E626F;
}

.title::first-letter {
    color: var(--secColor);
    font-size: 33px;
    font-weight: 800;
}

/**************************/